.profile__button-edit {
    width: 24px;
    height: 24px;
    background-image: url(../../../image/vector.svg);  
    margin: 15px 0px 34px 0px;
    border: 1px solid #fff;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.5s;
    cursor: pointer;
}

@media (max-width: 500px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin-top: 8px;
    }
}

.profile__button-edit:hover {
    opacity: 0.6;
}

