.profile__description {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: auto 18px auto auto;
    line-height: 22px;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    text-overflow: ellipsis;
    max-width: 280px;
}

@media (max-width: 500px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}