.element-list__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../image/delete_icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.element-list__delete:hover {
    opacity: 0.6;
}